/*.ms-core-pageTitle {
	display: none;
}*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


#sideSiteNavBox {
	float: left;
	margin-left: 0;
	margin-right: 0;
	width: 160px;
}
.psesd-disable-click {
	cursor: default;
}
.psesd-no-overflow  .ms-noWrap{
	white-space: normal;
}

.ms-qcb-item {
	float: left;
}

.cbs-Item, .cbs-diagnostic-Container {
	padding-bottom: 5px;
}

.psesd-site-nav {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid rgba(0, 181, 204, .8);
}

.psesd-mypsesd-sites-nav {
	display: none;
}

.psesd-mypsesd-sites-nav li,
.psesd-bookmarks-list li {
	margin: 2px 0;
}

.psesd-bookmarks-list li {
	display: none;
}

.psesd-bookmarks-list li.psesd-bookmarks-bookmark,
.psesd-bookmarks-list li.psesd-bookmarks-active,
.psesd-bookmarks-list.psesd-bookmarks-all li,
.psesd-bookmarks-list .psesd-bookmarks-more {
	display: block;
}

.psesd-mypsesd-sites-nav li div,
.psesd-bookmarks-list li div {
	padding: 0;
}

.psesd-mypsesd-sites-nav li .link-item a,
.psesd-bookmarks-list li > a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 14px;
}

.psesd-bookmarks-list li > a,
.psesd-bookmarks-list li > a:link,
.psesd-bookmarks-list li > a:hover,
.psesd-bookmarks-list li > a:active,
.psesd-bookmarks-list li > a:visited
 {
	color: #fff;
	background-color: rgba(100, 0, 204, 0.7);
}
.psesd-bookmarks-list li a:hover {
	background-color: rgba(100, 0, 204, 1);
}

.psesd-bookmarks-item a.active,
.psesd-bookmarks-item a.active:link,
.psesd-bookmarks-item a.active:hover,
.psesd-bookmarks-item a.active:active,
.psesd-bookmarks-item a.active:visited {
	border-right: 10px solid rgba(100, 0, 204, 1);
}


.psesd-bookmarks-more {
	text-align: center;
}

.psesd-bookmarks-list li.psesd-bookmarks-manage-button a,
.psesd-bookmarks-list li.psesd-bookmarks-manage-button a:link,
.psesd-bookmarks-list li.psesd-bookmarks-manage-button a:hover,
.psesd-bookmarks-list li.psesd-bookmarks-manage-button a:active,
.psesd-bookmarks-list li.psesd-bookmarks-manage-button a:visited
{
	text-align: center;
	background-color: rgba(60, 60, 60, 0.7);
	color: #fff;
}

.psesd-bookmarks-list li.psesd-bookmarks-manage-button a:hover {
	background-color: rgba(60, 60, 60, 1);
}

.psesd-mypsesd-sites-nav li .link-item a,
.psesd-mypsesd-sites-nav li .link-item a:link,
.psesd-mypsesd-sites-nav li .link-item a:hover,
.psesd-mypsesd-sites-nav li .link-item a:active,
.psesd-mypsesd-sites-nav li .link-item a:visited
{
	color: #fff;
	background-color: rgba(0, 181, 204, 0.7);
}
.psesd-mypsesd-sites-nav li .link-item a:hover {
	background-color: rgba(0, 181, 204, 1);
}
.psesd-mypsesd-sites-nav li .link-item a.active,
.psesd-mypsesd-sites-nav li .link-item a.active:link,
.psesd-mypsesd-sites-nav li .link-item a.active:hover,
.psesd-mypsesd-sites-nav li .link-item a.active:active,
.psesd-mypsesd-sites-nav li .link-item a.active:visited
{
	border-right: 10px solid rgba(0, 181, 204, 1);
}

.psesd-bookmark-indicator {
	display: none;
	float: right;
}

.psesd-bookmarks-manage .psesd-bookmarks-item a,
.psesd-bookmarks-manage .psesd-bookmarks-item a:link,
.psesd-bookmarks-manage .psesd-bookmarks-item a:hover,
.psesd-bookmarks-manage .psesd-bookmarks-item a:active,
.psesd-bookmarks-manage .psesd-bookmarks-item a:visited {
	cursor: default;
	background-color: rgba(60, 60, 60, .4);
}

.psesd-bookmarks-all .psesd-bookmarks-bookmark .psesd-bookmark-indicator {
	display: inline;
}



.psesd-agency-apps {
	border-right: 1px solid #fff;
}

.psesd-apps-dropdown {
	position: absolute;
	display: block;
	background-color: rgba(255,255,255,.3);
	padding: 1px;
}
.psesd-apps-dropdown div {
	padding: 0;
	margin: 0;
	background-color: #fff;
}
.psesd-apps-dropdown a,
.psesd-apps-dropdown a:link,
.psesd-apps-dropdown a:hover,
.psesd-apps-dropdown a:active,
.psesd-apps-dropdown a:visited {
	padding: 5px 10px;
	text-decoration: none;
	font-size: 1.1em;
	display: block;
	margin-bottom: 1px;
	background-color: rgba(0,0,0,.5);
	color: #fff;
}
.psesd-apps-dropdown a:hover {
	background-color: rgba(0,0,0,.8);
	color: #fff;
}

.psesd-agency-apps-list {
	display: none;
}

.psesd-mypsesd-agency-apps-button {

}

.psesd-mypsesd-agency-apps-dropdown {
	display: none;
}

.psesd-helpful-links thead {
	display: none;
}

.psesd-button,
.psesd-button:active,
.psesd-button:link,
.psesd-button:visited,
.psesd-button:hover {
	border: 1px solid rgba(200, 200, 200, .8);
	border-radius: 2px;
	background-color: rgb(230, 230, 230);
	padding: 3px 8px;
	font-size: 15px;
	text-decoration: none;

}

.psesd-button:hover {
	background-color: rgba(230, 230, 230, .8);
}


.psesd-button.psesd-button-sm {
	font-size: 13px;
}

#layoutsTable {
	table-layout: fixed;
	width: 100%;
}

.psesd-breadcrumb {
	display: none;
}

.psesd-breadcrumb .breadcrumbCurrentNode,
.psesd-breadcrumb .breadcrumbRootNode {
	display: none;
}


.psesd-breadcrumb .breadcrumbNode,
.psesd-breadcrumb .breadcrumbNode:link,
.psesd-breadcrumb .breadcrumbNode:hover,
.psesd-breadcrumb .breadcrumbNode:active,
.psesd-breadcrumb .breadcrumbNode:visited {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
	background-color: #0072c6;
	color: #fff;
	padding: 5px;
	margin-left: -20px;
	padding-left: 20px;
	text-decoration: none;
}
.psesd-breadcrumb .breadcrumbNode:hover {
	background-color: #004578;
}

.psesd-breadcrumb .breadcrumbNode span {
	margin-right: 3px;
}

/*
Primary:
	background-color: rgba(0, 181, 204, 1);

Technology:
	background-color: rgba(225, 43, 66, 1);

Learning-and-Teaching
	background-color: rgba(94, 175, 89, 1);

Equity
	background-color: rgba(244, 45, 43, 1);

Special
	background-color: rgba(223, 218, 67, 1);

*/

/*
Table of Contents
*/
.psesd-toc-preload {
    display: block;
    min-height: 200px;
    background-color: #e0e0e0;
    content: "Table of Contents";
}
.psesd-toc {
    margin: 10px 0;
    display: inline-block;
    background-color: #f7f7f7;
    padding: 10px;
    font-size: 110%;
    border: 1px solid #e8e8e8;
}
.psesd-toc-title {
	font-weight: bold;
	text-align: center;
}
.psesd-toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.psesd-tocc li {
    padding: 5px 10px;
}

.psesd-toc a,
.psesd-toc a:link,
.psesd-toc a:active,
.psesd-toc a:hover {
    text-decoration: none;
    display: block;
    color: #0072C6;
}

.psesd-toc .toc-level-h2 {
    padding-left: 0px;
}

.psesd-toc .toc-level-h3 {
    padding-left: 10px;
}

.psesd-toc .toc-level-h4 {
    padding-left: 20px;
}

.psesd-toc .toc-level-h5 {
    padding-left: 30px;
}
a.button.button-block,
a.button.button-block:link,
a.button.button-block:visited {
	display: block;
}
a.button,
a.button:link,
a.button:visited {
	font-size: 14px;
	background-color: rgba(0, 114, 198, 1);
	color: #fff;
	padding: 10px;
	margin: 3px;
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
}

a.button:active {
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
a.button:hover {
	background-color: rgba(0, 114, 198, 0.8);
}

