.psesd-newsfeed,
.psesd-newsfeed * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ms-rtefield .psesd-newsfeed {
	content: 'Newsfeed Block';
	display: block;
	min-height: 500px;
	background-color: #e0e0e0;
	color: #000;
}

.psesd-newsfeed-loading {
	display: block;
}

.psesd-newsfeed-results-list,
.psesd-newsfeed-results-list > li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

@-webkit-keyframes placeholder-flash {
	0% { opacity: 1; } 
	50% { opacity: .5; } 
	100% { opacity: 1; }
}
@keyframes placeholder-flash {
	0% { opacity: 1; } 
	50% { opacity: .5; } 
	100% { opacity: 1; }
}

.psesd-newsfeed-dummy-text {
	display: block;
	height: 10px;
	margin-top: 5px;
	background-color: rgba(0,0,0,.1);
	-webkit-animation: 3s ease 0s normal none infinite running placeholder-flash;
	animation: 3s ease 0s normal none infinite running placeholder-flash;
}


.psesd-timeline-item-dark .psesd-newsfeed-dummy-text {
	background-color: rgba(255,255,255,.5);
}

.psesd-timeline-item-date .psesd-newsfeed-dummy-text {
	margin-top: 1px;
}

.psesd-timeline-item-site .psesd-newsfeed-dummy-text {
	float: right;
}

.psesd-newsfeed-results-list > li {
	margin-bottom: 5px;
}

.psesd-newsfeed-results-list > li > a,
.psesd-newsfeed-results-list > li > a:link,
.psesd-newsfeed-results-list > li > a:active,
.psesd-newsfeed-results-list > li > a:hover {
	text-decoration: none;
	height: 30px;
}

.psesd-timeline-item-sticky {
	width: 20px;
	height: 30px;
	padding: 0px;
	text-align: center;
	font-weight: 600;
	display: inline-block;
	float: left;
}
.psesd-timeline-item-sticky span {
	line-height: 30px;
	font-size: 18px;
}

a.psesd-timeline-item-site {
	width: 140px;
	padding: 5px;
	text-align: right;
	font-weight: 600;
	display: inline-block;
	float: left;
}

.psesd-newsfeed-results-list-sticky {
	border-bottom: 2px solid rgba(0, 181, 204, .8);
	margin-bottom: 5px;
}

a.psesd-timeline-item-title {
	margin-left: 160px;
	padding: 5px;
	font-weight: 400;
	display: block;
}

.psesd-timeline-nosite a.psesd-timeline-item-title {
	margin-left: 20px;
}

.psesd-timeline-nosite a.psesd-timeline-item-site {
	display: none;
}


.psesd-timeline-item-date {
	display: inline-block;
	float: right;
	background-color: rgba(255,255,255,.4);
	color: #000;
	padding: 5px;
	font-size: .8em;
	line-height: 1em;
}

/*
Primary / Default 
*/
.psesd-timeline-item-dark,
a.psesd-timeline-item-dark,
a.psesd-timeline-item-dark:link,
a.psesd-timeline-item-dark:active,
a.psesd-timeline-item-dark:hover {
	background-color: rgba(0, 181, 204, .8);
	color: #fff;
}

.psesd-timeline-item-light,
a.psesd-timeline-item-light,
a.psesd-timeline-item-light:link,
a.psesd-timeline-item-light:active,
a.psesd-timeline-item-light:hover {
	background-color: rgba(0, 181, 204, .3);
	color: #000;
}

/*
	Technology
*/
.psesd-area-technology .psesd-timeline-item-dark,
.psesd-area-technology a.psesd-timeline-item-dark,
.psesd-area-technology a.psesd-timeline-item-dark:link,
.psesd-area-technology a.psesd-timeline-item-dark:active,
.psesd-area-technology a.psesd-timeline-item-dark:hover {
	background-color: rgba(225, 43, 66, .8);
	color: #fff;
}

.psesd-area-technology .psesd-timeline-item-light,
.psesd-area-technology a.psesd-timeline-item-light,
.psesd-area-technology a.psesd-timeline-item-light:link,
.psesd-area-technology a.psesd-timeline-item-light:active,
.psesd-area-technology a.psesd-timeline-item-light:hover {
	background-color: rgba(225, 43, 66, .3);
	color: #000;
}


/*
	Learning Teaching & Family Support
*/
.psesd-area-ltfs .psesd-timeline-item-dark,
.psesd-area-ltfs a.psesd-timeline-item-dark,
.psesd-area-ltfs a.psesd-timeline-item-dark:link,
.psesd-area-ltfs a.psesd-timeline-item-dark:active,
.psesd-area-ltfs a.psesd-timeline-item-dark:hover {
	background-color: rgba(94, 175, 89, .8);
	color: #fff;
}

.psesd-area-ltfs .psesd-timeline-item-light,
.psesd-area-ltfs a.psesd-timeline-item-light,
.psesd-area-ltfs a.psesd-timeline-item-light:link,
.psesd-area-ltfs a.psesd-timeline-item-light:active,
.psesd-area-ltfs a.psesd-timeline-item-light:hover {
	background-color: rgba(94, 175, 89, .3);
	color: #000;
}


/*
	Equity and Inclusion
*/
.psesd-area-equity .psesd-timeline-item-dark,
.psesd-area-equity a.psesd-timeline-item-dark,
.psesd-area-equity a.psesd-timeline-item-dark:link,
.psesd-area-equity a.psesd-timeline-item-dark:active,
.psesd-area-equity a.psesd-timeline-item-dark:hover {
	background-color: rgba(244, 45, 43, .8);
	color: #fff;
}

.psesd-area-equity .psesd-timeline-item-light,
.psesd-area-equity a.psesd-timeline-item-light,
.psesd-area-equity a.psesd-timeline-item-light:link,
.psesd-area-equity a.psesd-timeline-item-light:active,
.psesd-area-equity a.psesd-timeline-item-light:hover {
	background-color: rgba(244, 45, 43, .3);
	color: #000;
}


/*
	Highlight/Special
*/
.psesd-area-special .psesd-timeline-item-dark,
.psesd-area-special a.psesd-timeline-item-dark,
.psesd-area-special a.psesd-timeline-item-dark:link,
.psesd-area-special a.psesd-timeline-item-dark:active,
.psesd-area-special a.psesd-timeline-item-dark:hover {
	background-color: rgba(223, 218, 67, .8);
	color: #000;
}

.psesd-area-special .psesd-timeline-item-light,
.psesd-area-special a.psesd-timeline-item-light,
.psesd-area-special a.psesd-timeline-item-light:link,
.psesd-area-special a.psesd-timeline-item-light:active,
.psesd-area-special a.psesd-timeline-item-light:hover {
	background-color: rgba(223, 218, 67, .3);
	color: #000;
}